
@{
    ViewData["Title"] = "Contacts";
}

    <p>this is my contact</p>

    <h1>contact me</h1>

    <div>
        <form action="/" method="post">
            <label> name </label>
            <input type="text" name="name" value="" />
            <label> email </label>
            <input type="email" name="email" value="" />
            <label> message </label>
            <input type="text" name="message" value="" />
        </form>
    </div>