
@{
    ViewData["Title"] = "form_norm";
}
@model portfolio1_with_template.Models.form_norm

<h1>form_norm</h1>
   
<form class="form-control" asp-controller="Home" asp-action="form_norm" method="post">
    <label asp-for="Name"></label>
    <label></label>
    <input class="form-control" asp-for="Name" />
    <label asp-for="Location"> </label>
    <select class="form-control" asp-for="Location">
        @foreach (var loc in Model.Location)
        {
            <option class="form-control" value="@loc">@loc</option>

        }
    </select>
    <label asp-for="FavoriteLanguage"></label>
    <select class="form-control" asp-for="FavoriteLanguage" asp-items="@(new SelectList(Model.FavoriteLanguage))">
    </select>
    <label asp-for="Comment"></label>
    <textarea class="form-control" asp-for="Comment"></textarea>
    <input type="submit" value="submit data" />

</form>

