
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<h1>here are cool projects</h1>

<div class="col">
    <div class="row">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
        <h2>Cool thing</h2>
        <p>malorum, a first-century BCE text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin. Versions of the lorem ipsum text have been used in typesetting at least since the 1960s, when i</p>
    </div><div class="row">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
        <h2>Cool thing</h2>
        <p>malorum, a first-century BCE text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin. Versions of the lorem ipsum text have been used in typesetting at least since the 1960s, when i</p>
    </div><div class="row">
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150"></a>
        <h2>Cool thing</h2>
        <p>malorum, a first-century BCE text by Cicero, with words altered, added, and removed to make it nonsensical, improper Latin. Versions of the lorem ipsum text have been used in typesetting at least since the 1960s, when i</p>
    </div>
</div>