
@{
    ViewData["Title"] = "result";
}
@model portfolio1_with_template.Models.formModel

<div class="container">
    <h1>Submitted Info</h1>
    <h2>Name : @Model.Name</h2>
    <h2>Dojo Location :  @Model.myLocations </h2>
    <h2>Fave lang : @Model.Languages </h2>
    <h2>comment : @Model.Comment</h2>
</div>